.ballet-section{
    /* top:5500px; */
    position: relative;
    margin-top: 10%;
}
.ballet-img1{
  
    max-width: 400px;
    max-height: 400px;
}
.ballet-img2{
    /* position: absolute; */
    margin-top: 10%;;
    max-width: 500px;
    max-height: 500px;
}
.ballet-img3{
    /* position: absolute; */

    max-width: 500px;
    max-height: 500px;
}