*{
  font-family: 'Sarabun', sans-serif;
}
.index-button {
  margin: 30px;
  font-weight: 700;
  writing-mode: vertical-rl;
  z-index: 100;
  cursor: pointer;
  right: 0;
  position: fixed;
}
.about-button {
  margin: 30px;
  font-weight: 700;
  writing-mode: vertical-rl;
  z-index: 100;
  cursor: pointer;
  right: 0;
  bottom: 0;
  position: fixed;
}
.ME-button {
  margin: 30px;
  font-weight: 700;
  writing-mode: vertical-rl;
  z-index: 100;
  cursor: pointer;
  left: 0;
  position: fixed;
}
.null-button {
  margin: 30px;
  font-weight: 700;
  writing-mode: vertical-rl;
  z-index: 100;
  cursor: pointer;
  left: 0;
  bottom: 0;
  position: fixed;
}

.card1 {
  width: 100px;
  height: 100px;
  background-color: rgb(36, 124, 73);
  position: absolute;
}
.card2 {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgb(43, 194, 164);
}

img.hoverImages {
  margin: 30px;
  padding: 3px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

img.hoverImages:hover {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 2px;
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
  color: black !important;
}
a::before {
  background-color: black;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: black;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  color: black;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}
  